@model IQueryable<BlackboardDatabase.Models.CourseStudent>

@{
    ViewData["Title"] = "DetailsTeachers";
}
<h2>@Model.First().CourseName</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Student
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentAUID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>